{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/confirm.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Release Dino?</h1>
  <img src="{% static 'images/delete-d.jpeg' %}" alt="A dino that flies"/>
</div>
<h2>Are you sure you want to set {{ dino.name }} free?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'dino-detail' dino.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Release {{ dino.name }}!</button>
</form>

{% endblock %}
