{% extends 'base.html' %}

{% block content %}

<h1 style="font-size: 2.5em; font-weight: bold; color: #fff;">About the Dino Collector</h1>
<hr />
<p class="page-content" style="font-size: 2.0em; line-height: 1.6; color: #fff;">
  Welcome to the world of Dino Collector, where we celebrate the fascinating world of dinosaurs! Our mission is to bring joy to all dinosaur enthusiasts by providing a platform to discover, learn, and collect everything related to these magnificent creatures. Join us on an adventure through time as we explore the ancient world of dinosaurs together!
</p>

{% endblock %}
