{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dinos/dino-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Dino List</h1>
  <br>
  <img src="{% static 'images/blue-d.jpeg' %}" alt="A blue dino">
  <img src="{% static 'images/white-d.jpeg' %}" alt="A white dino">
  <img src="{% static 'images/yellow-d.jpeg' %}" alt="A yellow dino">
</section>

<section class="card-container">
  {% for dino in dinos %}
    <div class="card">
      <a href="{% url 'dino-detail' dino.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/red-d.jpeg' %}" 
              alt="A red dino"
            >
          </div>
          <h2 class="card-title">{{ dino.name }}</h2>
          {% if dino.age > 0 %}
            <p>A {{ dino.age }} year old {{ dino.breed }}</p>
          {% else %}
            <p>A {{ dino.breed }} baby.</p>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}