/* dinos/dino-detail.css */

.dino-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.dino-img {
  flex: 1;
}

.dino-details {
  flex: 1;
  padding: 0 20px;
}

.dino-details h1 {
  font-size: 3em; /* Increased font size */
  margin-bottom: 10px;
}

.dino-details h2 {
  font-size: 1.8em; /* Increased font size */
  margin-bottom: 10px;
}

.dino-details p {
  font-size: 1.4em; /* Increased font size */
  line-height: 1.5;
}

.dino-actions {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.4em; /* Increased font size */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn.warn {
  background-color: #f0ad4e;
  color: #fff;
}

.btn.warn:hover {
  background-color: #eea236;
}

.btn.danger {
  background-color: #d9534f;
  color: #fff;
}

.btn.danger:hover {
  background-color: #c9302c;
}