/* dinos/dino-index.css */
a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.page-header {
  text-align: center;
  margin-bottom: 30px;
}

.page-header img {
  height: 10vh;
  margin-left: 15px;
  border-radius: 50%;
}

.page-header h1 {
  font-size: 3.5em; /* Increased font size */
  margin-top: 50px; /* Add some top margin for spacing */
  display: inline-block; /* Ensure it's centered properly */
  padding: 0 20px; /* Add some padding for spacing */
  background-color: #f0f0f0; /* Background color for better visibility */
  border-radius: 10px; /* Rounded corners */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  border: var(--borders);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
}

.card-content {
  padding: 20px;
}

.card-img-container {
  text-align: center;
}

.card-img-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-title {
  font-size: 2em; /* Increased font size */
  margin-top: 10px;
  margin-bottom: 5px;
}

.card-content p {
  font-size: 1.4em; /* Increased font size */
  margin-bottom: 10px;
}

.card-content p small {
  font-size: 1em; /* Increased font size */
  color: #ffffff;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
}